.nav {
  _display: block;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 70px;
  left: 20px;
}

.nav a {
  text-decoration: none;
  color: blue;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.nav a:last-child {
  margin-bottom: 0;
}
