body {
  margin: 0 auto;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eff3f7;
  height: 100%;

  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}
a,
ul,
li {
  list-style: none;
}

html,
body,
#root,
.container {
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
  gap: 50px;
  box-sizing: border-box;
  padding: 50px;
}

.movie {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.movie img {
  max-width: 120px;
  margin: 0 20px 0 0;
  position: relative;
  top: -50px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.genres {
  display: flex;
  padding: 0;
}
.genres li {
  margin-right: 10px;
  font-size: 14px;
}
.genres li:last-child {
  margin-right: 0;
}

.movie_title {
  font-size: 24px;
}
.movie_year {
  font-size: 16px;
  font-weight: 400;
}
.movie:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* 모바일에서는 세로로 쌓기 */
@media (max-width: 1200px) {
  .movie {
    grid-template-columns: 1fr;
  }
  .movie img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .movies {
    grid-template-columns: 1fr;
  }
}
